@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@500&family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Raleway:wght@500&family=Rubik+Dirt&display=swap');

.heading {
  font-size: 70px;
  font-weight: bold;
  font-family: 'Rubik Iso', cursive;
  letter-spacing: 2px;
  color: #346751;
  vertical-align: text-top;
  margin-top: 5px;
  margin-bottom: 1px;
}
.sub_heading {
  font-size: 25px;
  font-family: 'Rubik Dirt', cursive;
  letter-spacing: 0.8px;
  color: #c84b31;
  font-weight: bold;
}
.data {
  font-weight: bold;
  font-size: 20px;
  color: #ecdbba;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}